// Do not convert native css method
@import 'variables.less';
@media (max-width: 380px) {

}

.fadeIn {
 opacity: 1;
}

@-webkit-keyframes fadein { .fadeIn; }
@-moz-keyframes fadein { .fadeIn; }
@keyframes fadein { .fadeIn; }

@font-face {
  font-family: 'Open Sans';
}

// @mixin
// @include
// @extend
// @debug(something);

// Convert Less variables
@word: 'word';
@camelCase: 'camelCase';
@kebab-case: 'kebab-case';
@snake_case: 'snake_case';
