$isActive: false;

@if $isActive {
  $color: 'red';
} @else {
  $color: 'green';
}

@if (5 >= 1) {
  $foo: 'bar';
} @else {
  $bar: 'foo';
}

@if $isActive == false {
  html, body {
    font-size: 14px;
  }
} @else {
 html, body {
    font-size: 10px;
  }
}

button {
  color: $color;

  @if $isActive {
    font-size: 14px;
  } @else {
    font-size: 10px;
  }
}
