// Do not convert native css method
@import 'variables.scss';
@media (max-width: 380px) {

}

.fadeIn {
 opacity: 1;
}

@-webkit-keyframes fadein { @extend .fadeIn; }
@-moz-keyframes fadein { @extend .fadeIn; }
@keyframes fadein { @extend .fadeIn; }

@font-face {
  font-family: 'Open Sans';
}

// @mixin
// @include
// @extend
// @debug(something);

// Convert Less variables
$word: 'word';
$camelCase: 'camelCase';
$kebab-case: 'kebab-case';
$snake_case: 'snake_case';
